<header class="container light-blue">
  <%# <h3>Yo yo bitches, I'm a header</h3> %>
  <%# <nav>
    <div class="nav-wrapper light-blue lighten-2">      
      <a href="#!" class="brand-logo">MRP</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul> %>


  
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper light-blue">
    <a href="#!" class="brand-logo">Local Weather</a>
    <%# <ul class="right hide-on-med-and-down"> %>
      <%# <li> %><a class="dropdown-trigger right" href="#!" data-target="dropdown1"><i class="material-icons right">menu</i></a><%# </li> %>
    <%# </ul> %>
  </div>
</nav>
        
          

</header>