<header class="container light-blue">
  <h3 class="center-align">Yo yo bitches, wanna know some weatha?</h3>
  
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper light-blue lighten-1">
      <a href="#!" class="brand-logo">PetCo.com</a>
      <a class="dropdown-trigger right" href="#!" data-target="dropdown1"><i class="material-icons right">menu</i></a>
    </div>
  </nav>      

</header>