<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs %>
  
  <main class="container light-blue lighten-4">
    <div class="row">
      <div class="col s12">
        <h1>Hoi, i am an About page!</h1>
        <p>Quis ex mollit Lorem velit in tempor veniam irure commodo esse. Irure aliqua elit do aute aute pariatur velit enim ea aute in elit ad sint. Laborum id culpa laborum eiusmod anim laboris excepteur cillum dolor in ea dolore ea sint.</p>
        <p>Mollit veniam sint ea exercitation in voluptate duis duis nostrud ipsum laboris fugiat reprehenderit. Fugiat consequat sunt ex consectetur commodo amet elit commodo ullamco. Irure consectetur cupidatat nulla reprehenderit pariatur eiusmod ipsum ullamco. Non eu occaecat consequat non velit.</p>
        <p>Dolor ex labore ad qui proident non nostrud adipisicing voluptate. Dolore est consectetur laborum culpa proident. Sunt laborum irure eu ipsum labore eiusmod culpa culpa sint veniam consectetur commodo. Qui tempor reprehenderit excepteur do nostrud est nisi est ad officia enim ex et duis. Ad eu pariatur nostrud quis aliqua officia tempor aliquip eiusmod. Cillum enim in est tempor non tempor consectetur proident amet elit magna voluptate ipsum. Eiusmod magna ad esse do velit nostrud dolor voluptate aliquip labore ut sunt.</p>
      </div>
    </div>  
  </main>

  <% include partials/footer.ejs %>
  <% include partials/scripts.ejs %>
</body>
</html>