<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs %>
  
  <main class="container light-blue lighten-4">
    <div class="row">
      <div class="col s12">
        <h1>Hoi, i am a Contact page!</h1>
        <p>Wut?? You really think I let you contact me? You bladdy crazy?!</p>
      </div>
    </div>  
  </main>

  <% include partials/footer.ejs %>
  <% include partials/scripts.ejs %>
</body>
</html>