<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs %>
  
  <main class="container light-blue lighten-4">
    <div class="row">
      <div class="col s12">
        <h1>Contact page!</h1>
        <p>Culpa enim duis et cillum proident irure exercitation quis consequat elit. Aliqua proident do deserunt ea dolore consequat excepteur amet sint ea ipsum voluptate. Reprehenderit consequat excepteur cupidatat mollit esse do in minim. Excepteur occaecat fugiat et commodo ullamco et ullamco commodo adipisicing irure. Exercitation ad proident sit quis culpa in. Consequat fugiat consequat quis id commodo magna est esse aliqua sint enim. Sint ullamco pariatur ut aliqua anim.</p>
      </div>
    </div>  
  </main>

  <% include partials/footer.ejs %>
  <% include partials/scripts.ejs %>
</body>
</html>