/* 
  https://materializecss.com/footer.html#sticky-footer:
*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


/*
  background input field:
*/
input {
  background-color:#4fc3f7 !important;
  /* background-color: yellow !important; */
}

input:focus {
  background-color: #e1f5fe !important;
  /* background-color: orange !important; */
}