/* 
  https://materializecss.com/footer.html#sticky-footer:
*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 480px;
}
main {
  flex: 1 0 auto;
}


/*
  background input field:
*/
input {
  background-color:#4fc3f7 !important;
}
input:focus {
  background-color: #e1f5fe !important;
}

/*
  Create some spacing
*/
.nav-wrapper {
  padding-left: 1vw;
  padding-right: 1vw;
}

label {
  padding-left: 1vw;
  padding-right: 1vw;
}

footer {
  padding-left: 1vw;
  padding-right: 1vw;

}


/*
  Make button same height as the input field
*/
.btn {
  height: 45px !important;
  padding: 0 8px;
}

button {
  margin-left: 2px;
}

/*
  Make icon on submit button symmetric
*/
i.right {
  margin-left: 0 !important;
}

i {
  vertical-align: middle;
}


#location-box .card {
  height: 4rem;
  
}

#location-box{
  margin-bottom: 0;
}


.card {
  margin: 0 1rem 1rem 0;
  
}
.row {
  margin-bottom: 0;
}

.card-content {
  overflow-y: auto !important;
}